{% extends 'layout.twig' %}
{% block title %}Startseite{% endblock %}
{% block user %}
    {% if user %}
        Logged as
        {{ user.username }}&nbsp; | &nbsp;
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Einloggen</a>
        |
        <a href="/register">Registrieren</a>
    {% endif %}

{% endblock %}
{% block body %}
    <div ng-controller="HausCtrl">
        <div class="col-xs-12">
            <div class="panel panel-warning">
                <div class="panel-body" style="padding: 3em;">
                    <center>
                        <h1>{{ module.name }}</h1>
                        <h3>
                            {{ module.description }}
                        </h3>
                        {% if module.slug == 'light-remote-control' %}
                            <div class="alert alert-dismissible alert-success">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>Info!</strong>
                                Das Licht in dem Raum "{{ module.name }}" ist jetzt an!
                                <a href="javascript:void(0)" class="alert-link">this important alert message</a>.
                            </div>
                            <div class="alert alert-dismissible alert-warning">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>Info!</strong>
                                Das Licht in dem Raum "{{ module.name }}" ist jetzt an!
                                <a href="javascript:void(0)" class="alert-link">this important alert message</a>.
                            </div>
                            <button class="btn btn-success btn-raised">
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                Licht Anmachen</button>
                            <button class="btn btn-warning btn-raised">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                                Licht Ausmachen</button>
                        {% endif %}
                        <ul></ul>
                    </center>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
