{% extends 'layout.twig' %}
{% block title %}Startseite{% endblock %}
{% block user %}
    {% if user %}
        Logged as
        {{ user.username }}&nbsp; | &nbsp;
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Einloggen</a>
        |
        <a href="/register">Registrieren</a>
    {% endif %}

{% endblock %}
{% block body %}
    <div ng-controller="HausCtrl">
        <div class="col-xs-12">
            <div class="panel panel-warning">
                <div class="panel-body" style="padding: 3em;">
                    <center>
                        <h1>{{ module.name }}</h1>
                        <h3>
                            {{ module.description }}
                        </h3>

                        <br/><br/>
                        {% if module.slug == 'light-remote-control' %}
                            <div class="col-xs-12" ng-style="style"
                                 style="height: 50px; background-color: #000; "></div>
                            <center>
                                <h1>
                                    Brightness: [[ lightValue ]]
                                </h1>
                            </center>
                            <div ng-if="!an">

                                <div class="col-xs-12 alert alert-dismissible alert-warning">
                                    <div class="">
                                        <strong>Info!</strong>
                                        Das Licht in dem Raum "{{ module.name }}" ist jetzt aus!
                                    </div>
                                    <br/><br/>
                                </div>
                            </div>

                            <div ng-if="an" ng-if="false">
                                <div class="col-xs-12 alert alert-dismissible alert-success">
                                    <div class="">
                                        <strong>Info!</strong>
                                        Das Licht in dem Raum "{{ module.name }}" ist jetzt an!
                                    </div>

                                </div>
                                <br/><br/>
                            </div>
                            <button class="btn btn-warning btn-raised" ng-if="an">
                                <i class="fa fa-bolt" aria-hidden="true"></i>&nbsp; Licht einschalten/ausschalten &nbsp;
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-success btn-raised" ng-if="!an">
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                Licht Anmachen
                            </button>
                        {% elseif module.slug == 'temperature-remote-control' %}
                            <div class="col-xs-12">
                                <input
                                        type="range"
                                        min="0"
                                        max="100"
                                        step="1"
                                        data-buffer="60"/>
                            </div>
                            <hr>
                            <div class="row">
                                <canvas id="line" class="chart chart-bar" chart-data="data"
                                        chart-labels="labels" chart-options="options" chart-click="onClick">
                                </canvas>
                            </div>
                        {% endif %}
                        <ul></ul>
                    </center>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
