{% extends 'layout.twig' %}
{% block title %}Startseite{% endblock %}
{% block user %}
    {% if user %}
        Logged as
        {{ user.username }}&nbsp; | &nbsp;
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Einloggen</a>
        |
        <a href="/register">Registrieren</a>
    {% endif %}

{% endblock %}
{% block body %}
    <div ng-controller="HausCtrl">
        <div class="col-xs-12">
            <div class="panel panel-warning">
                <div class="panel-body" style="padding: 3em;">
                    <center>
                        <h1>{{ module.name }}</h1>
                        <h3>
                            {{ module.description }}
                        </h3>
                        <div class="col-xs-12" ng-style="style" style="height: 50px; background-color: #000; "></div>
                        <center>
                            Brightness: [[ lightValue ]]
                        </center>
                        <br/><br/>
                        {% if module.slug == 'light-remote-control' %}
                            <div ng-if="!an">

                                <div class="col-xs-12 alert alert-dismissible alert-warning">
                                    <div class="">
                                        <strong>Info!</strong>
                                        Das Licht in dem Raum "{{ module.name }}" ist jetzt aus!
                                    </div>
                                    <br/><br/>
                                </div>
                            </div>

                            <div ng-if="an">
                                <div class="col-xs-12 alert alert-dismissible alert-success">
                                    <div class="">
                                        <strong>Info!</strong>
                                        Das Licht in dem Raum "{{ module.name }}" ist jetzt an!
                                    </div>

                                </div><br/><br/>
                            </div>
                            <button class="btn btn-warning btn-raised" ng-if="an">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                                Licht Ausmachen</button>
                            <button class="btn btn-success btn-raised" ng-if="!an">
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                Licht Anmachen</button>
                        {% endif %}
                        <ul></ul>
                    </center>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
